# ==================== FLASK ====================
FLASK_ENV=development
SECRET_KEY=

# ==================== DATABASE ====================
DATABASE_URL=

# ==================== JWT ====================
JWT_SECRET_KEY=

# ==================== T-BANK ====================
TBANK_TERMINAL_KEY=
TBANK_PASSWORD=
TBANK_API_URL=

# ==================== TELEGRAM ====================
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=